# Node & Frontend
node_modules/
dist/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rust & Tauri - Ignora debug e caches intermediários de compilação
src-tauri/target/debug/
src-tauri/target/release/build/
src-tauri/target/release/deps/
src-tauri/target/release/incremental/
src-tauri/target/release/.fingerprint/
src-tauri/target/release/nsis/
src-tauri/target/release/.*
src-tauri/target/.*
src-tauri/target/CACHEDIR.TAG
src-tauri/target/release/*.pdb
src-tauri/target/release/*.d
src-tauri/gen/

# Local DB SQLite files
data/
*.db
*.db-shm
*.db-wal
*.db-journal

