# Node & Frontend
node_modules/
dist/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rust & Tauri
src-tauri/target/
src-tauri/gen/

# Local DB SQLite files
data/
*.db
*.db-shm
*.db-wal
*.db-journal

# Executáveis locais gerados
*.exe
